aenum==3.1.16
annotated-types==0.7.0
boto3==1.38.16
botocore==1.38.16
cachetools==5.5.2
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
coverage==7.8.0
distlib==0.3.9
filelock==3.18.0
flake8==7.2.0
idna==3.10
iniconfig==2.1.0
jmespath==1.0.1
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pycodestyle==2.13.0
pydantic==2.11.4
pydantic-core==2.33.2
pyflakes==3.3.2
pyproject-api==1.9.1
pytest==8.3.5
pytest-cov==6.1.1
pytest-randomly==3.16.0
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.12.0
setuptools==80.7.1
six==1.17.0
tox==4.26.0
typing-extensions==4.13.2
typing-inspection==0.4.0
urllib3==2.4.0
virtualenv==20.31.2
